.card {
  margin: 6% 25%;
  .text {
    text-align: center;
  }

  .login-button {
    margin-left: 20rem;
  }
}

.errorMessage
{
    color: red;
    font-size: 0.7rem;
    height: 0.9rem;
}
.errorMessage p
{
    margin-bottom: 0;
}

